In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.csv")
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# Subsets based on Country
india_df = df[df['native-country'] == 'India']
us_df = df[df['native-country'] == 'United-States']

# Subsets based on Sex
male_df = df[df['gender'] == 'Male']
female_df = df[df['gender'] == 'Female']

# Subsets based on Race
white_df = df[df['race'] == 'White']
black_df = df[df['race'] == 'Black']

In [9]:
print("Subset - India:", india_df.shape)
india_df

Subset - India: (151, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
398,36,Private,116358,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,45,India,<=50K
564,26,Private,341672,Some-college,10,Never-married,Adm-clerical,Other-relative,Asian-Pac-Islander,Male,0,0,60,India,<=50K
1101,55,Private,176219,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,0,0,40,India,<=50K
1556,33,State-gov,150688,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
1593,54,?,120781,Doctorate,16,Married-spouse-absent,?,Unmarried,Asian-Pac-Islander,Male,0,0,20,India,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46433,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
47114,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
47152,26,Private,160261,Masters,14,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,20,India,<=50K
47608,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
47638,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [10]:
print("Subset - Male:", male_df.shape)
male_df

Subset - Male: (32650, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [11]:
print("Subset - White Race:", white_df.shape)
white_df

Subset - White Race: (41762, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
merged_sex_df = pd.concat([male_df, female_df])
print("Merged Sex Data Shape:", merged_sex_df.shape)
merged_sex_df

Merged Sex Data Shape: (48842, 15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48827,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
48830,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [17]:
sorted_df = df.sort_values(by='hours-per-week', ascending=False)
sorted_df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
35422,59,Private,106748,7th-8th,4,Married-civ-spouse,Other-service,Wife,White,Female,0,0,99,United-States,<=50K
2690,37,Local-gov,130805,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,99,United-States,>50K
39930,45,Private,390368,Some-college,10,Married-civ-spouse,Sales,Husband,Black,Male,15024,0,99,United-States,>50K
2392,34,Private,230246,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,2202,0,99,United-States,<=50K
45468,31,Private,178370,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,99,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9076,39,Private,465334,11th,7,Divorced,Farming-fishing,Unmarried,White,Male,0,0,1,United-States,<=50K
22047,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
24728,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
7078,22,Private,173004,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,Black,Male,0,0,1,United-States,<=50K
36353,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

In [19]:
transposed_df = df.transpose()
print("Transposed Data:\n")
transposed_df

Transposed Data:

,0,1,2,3,4,5,6,7,8,9,...,48832,48833,48834,48835,48836,48837,48838,48839,48840,48841
age,25,38,28,44,18,34,29,63,24,55,...,32,43,32,53,22,27,40,58,22,52
workclass,Private,Private,Local-gov,Private,?,Private,?,Self-emp-not-inc,Private,Private,...,Private,Private,Private,Private,Private,Private,Private,Private,Private,Self-emp-inc
fnlwgt,226802,89814,336951,160323,103497,198693,227026,104626,369667,104996,...,34066,84661,116138,321865,310152,257302,154374,151910,201490,287927
education,11th,HS-grad,Assoc-acdm,Some-college,Some-college,10th,HS-grad,Prof-school,Some-college,7th-8th,...,10th,Assoc-voc,Masters,Masters,Some-college,Assoc-acdm,HS-grad,HS-grad,HS-grad,HS-grad
educational-num,7,9,12,10,10,6,9,15,10,4,...,6,11,14,14,10,12,9,9,9,9
marital-status,Never-married,Married-civ-spouse,Married-civ-spouse,Married-civ-spouse,Never-married,Never-married,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,...,Married-civ-spouse,Married-civ-spouse,Never-married,Married-civ-spouse,Never-married,Married-civ-spouse,Married-civ-spouse,Widowed,Never-married,Married-civ-spouse
occupation,Machine-op-inspct,Farming-fishing,Protective-serv,Machine-op-inspct,?,Other-service,?,Prof-specialty,Other-service,Craft-repair,...,Handlers-cleaners,Sales,Tech-support,Exec-managerial,Protective-serv,Tech-support,Machine-op-inspct,Adm-clerical,Adm-clerical,Exec-managerial
relationship,Own-child,Husband,Husband,Husband,Own-child,Not-in-family,Unmarried,Husband,Unmarried,Husband,...,Husband,Husband,Not-in-family,Husband,Not-in-family,Wife,Husband,Unmarried,Own-child,Wife
race,Black,White,White,Black,White,White,Black,White,White,White,...,Amer-Indian-Eskimo,White,Asian-Pac-Islander,White,White,White,White,White,White,White
gender,Male,Male,Male,Male,Female,Male,Male,Male,Female,Male,...,Male,Male,Male,Male,Male,Female,Male,Female,Male,Female
capital-gain,0,0,0,7688,0,0,0,3103,0,0,...,0,0,0,0,0,0,0,0,0,15024
capital-loss,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hours-per-week,40,50,40,40,30,30,40,32,40,10,...,40,45,11,40,40,38,40,40,20,40
native-country,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,United-States,...,United-States,United-States,Taiwan,United-States,United-States,United-States,United-States,United-States,United-States,United-States
income,<=50K,<=50K,>50K,>50K,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,...,<=50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,<=50K,>50K

In [21]:
melted_df = pd.melt(
    df,
    id_vars=['gender', 'race'],  # Identifiers to retain
    value_vars=['age', 'educational-num', 'hours-per-week'],  # Columns to melt
    var_name='Attribute',
    value_name='Value'
)

print("ðŸ”¹ Melted Data (Long Format):")
print(melted_df.head())

ðŸ”¹ Melted Data (Long Format):
   gender   race Attribute  Value
0    Male  Black       age     25
1    Male  White       age     38
2    Male  White       age     28
3    Male  Black       age     44
4  Female  White       age     18

In [22]:
pivot_df = df.pivot_table(
    values='hours-per-week',
    index='race',
    columns='gender',
    aggfunc='mean'
)

print("ðŸ”¹ Casted Data (Wide Format - Avg Hours/Week):")
print(pivot_df)

ðŸ”¹ Casted Data (Wide Format - Avg Hours/Week):
gender                 Female       Male
race
Amer-Indian-Eskimo  37.108108  42.326316
Asian-Pac-Islander  37.241779  41.248503
Black               37.113951  40.038704
Other               35.987097  41.187251
White               36.235818  42.665947